.moveIcon{
    width: 45px;
    height: 45px;
    position: fixed;
    background: linear-gradient(#EA8D8D, #A890FE);;
    right: 10px;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 50%;
    animation: upNUP 2s linear infinite alternate-reverse;
    cursor: pointer;
}

.hideme{
    display: none;
}
@keyframes upNUP {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}